<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monolithic App - Présentations Reveal.js</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('partials/_header') %>
    <main>
        <% if (session && session.user) { %>
            <% if (message) { %>
                <p><%= message %></p>
            <% } else { %>
            <h2>Your Presentations</h2>
            <ul>
                <% presentations.forEach(function(presentation) { %>
                    <li>
                        <a href="/presentations/<%= presentation._id %>" target="_blank">
                            <%= presentation.title %>
                        </a>
                        <% if (presentation.isPublic) { %>
                            <span>(Public)</span>
                        <% } else { %>
                            <span>(Private)</span>
                        <% } %>
                        <span><%= presentation.username %></span>
                    </li>
                <% }); %>
            </ul>
            <% } %>
           <h2>Others' Public Presentations</h2>
        <% } else { %>
            <p>Veuillez <a href="/auth/login">vous connecter</a> pour voir vos présentations.</p>
            <h2>Public Presentations</h2>
        <% } %>
        <ul>
            <% const filteredPresentations = publicPresentations.filter(presentation => {
                return presentation.authorId && session.user && session.user._id && 
                    presentation.authorId.toString() !== session.user._id.toString();
            }); %>
            <% if (filteredPresentations.length > 0) { %>
                <% filteredPresentations.map(presentation => { %>
                <li>
                    <a href="/presentations/<%= presentation._id %>" target="_blank">
                        <%= presentation.title %>
                    </a>
                    <span>(Public)</span>
                </li>
                <% }); %>
            <% } else { %>
                <li>Nothing</li>
            <% } %>        
        </ul>
    </main>
    <%- include('partials/_footer') %>
    <script src="js/scripts.js"></script>
</body>
</html>